* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.active {
    color: #ee4b10;
}

.viewport {
    height: 100vh;
    width: 100%;
    background-color: #313340;
}

.container {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat {
    width: 80%;
    height: 600px;
    background-color: #373a49;
    display: flex;
    overflow: hidden;
}

.chat .left {
    height: 100%;
    flex-basis: 35%;
}

.chat .left .title {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 20px;
    color: #dfdfdf;
    padding: 20px;
}

.chat .left .dialogues-wrapper {
    display: flex;
    flex-direction: column;
}

.chat .left .dialogue {
    display: flex;
    padding: 10px 20px 25px 20px;
}

.chat .left .dialogue:hover {
    background-color: #108aee;
    cursor: pointer;
}

.chat .left .dialogues-wrapper .img-wrapper {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
}

.chat .left .dialogue .info {
    margin-left: 10px;
    color: #dfdfdf;
}

.chat .left .dialogue .info .name {
    font-size: 18px;
}

.chat .left .dialogue .info .message {
    margin-top: 5px;
    font-size: 16px;
}

.chat .right {
    background-color: white;
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.chat .right .top {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.chat .right .messages-wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    margin-top: 20px;
}

.chat .right .message {
    display: flex;
}

.chat .right .message:nth-child(n + 3) {
    margin-top: 20px;
}

.chat .right .message.same-user {
    margin-top: 0;
}

.chat .right .message .item:nth-child(n + 2) {
    margin-left: 10px;
}

.chat .right .message .img-wrapper {
    max-width: 40px;
    width: 100%;
    height: 40px;
    background-color: black;
    border-radius: 50%;
}

.chat .right .message .text-wrapper {
    flex-basis: 70%;
}

.chat .right .message.same-user .text-wrapper {
    margin-left: 60px;
}

.chat .right .message .text-wrapper .text {
    display: inline-block;
    padding: 10px 15px;
    background-color: #e9f1ff;
    border-radius: 5px;
}

.chat .right .message .time {
    color: #a7aab1;
    font-size: 12px;
    align-self: center;
}

.chat .right .pen {
    width: 100%;
    padding-top: 15px;
    border-top: 2px solid #108aee;
}

.chat .right .pen #input-message {
    width: 100%;
    font-size: 16px;
    resize: none;
    text-align: left;
    overflow: hidden;
    border: none;
}

.chat .right .pen #input-message:focus {
    outline: none;
}

/* MODAL */

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 400px;
    width: 100%;
    background: #f9f9f9;
    padding: 20px 25px;
    border-radius: 5px;
}

.modal-content .title {
    font-size: 18px;
    text-align: center;
}

.modal-content .tabs {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.modal-content .tabs button {
    background: none;
    border: none;
    font-size: 16px;
    transition: all 0.2s linear;
}

.modal-content .tabs button:hover {
    cursor: pointer;
    color: #ee4b10;
}

.modal-content .tabs button:nth-child(n + 2) {
    margin-left: 10px;
}

.modal-content #auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.modal-content #auth-form input {
    width: 70%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 20px;
}

.modal-content #auth-form input:nth-child(n + 2) {
    margin-top: 10px;
}

.modal-content #auth-form input:focus {
    outline: 1px solid black;
    border: 2px solid black;
}

.modal-content #auth-form #auth-btn {
    width: 70%;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
}

.modal-content #auth-form #auth-btn:hover {
    cursor: pointer;
}
